@import "common";

.zan-panel {
  position: relative;
  background: #fff;
  margin-top: 40rpx;
  overflow: hidden;

  &::after {
    @include hairline;
    border-top-width: 2rpx;
    border-bottom-width: 2rpx;
  }
}

.zan-panel-title {
  font-size:14px;
  line-height:1;
  color:#999;
  padding:20px 15px 0 15px;
}


.zan-panel--without-margin-top {
  margin-top: 0;
}

.zan-panel--without-border {
  &::after {
    border: 0 none;
  }
}

.zan-panel--radius {
  border-radius: 15rpx;
}
