@import './font.scss';
.icon-play {
  color: #666666;
  font-size: 40rpx
}

.icon-kefu,
.icon-redeem,
.icon-order,
.icon-id {
  color: #000000
}

.icon-crown {
  color: #ffc000
}

.icon-scan-code,
.icon-plus-circle-o {
  color: #ffffff
}

.icon-camera {
  color: #b3b3b3
}

.icon-circle-o {
  color: #999999;
}

.icon-check-circle,
.icon-add {
  color: #1875f0;
}

.icon-address-book {
  color: #1875f0;
  font-size: 1.5em;
}

.icon-wxpay {
  color: #24af41;
  font-size: 1.5em;
}

.icon-ybpay {
  background-color: #f7bf0d;
  border-radius: 50%;
  color: #ffed3c;
  font-size: 1.5em;
}

// alias
.icon-video:before {
  content: "\e619"
}

.icon-name:before {
  content: "\e653"
}

// icon-loading
.icon-loading,
.icon-loading:before,
.icon-loading:after {
  background: #666666;
  animation: loading 1s infinite ease-in-out;
  display: inline-block;
  width: 1em;
  height: 4em
}

.icon-loading {
  margin: 0 2.5em;
  color: #666666;
  text-indent: -9999em;
  font-size: .2em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  vertical-align: -1.5em;
  position: relative
}

.icon-loading:before,
.icon-loading:after {
  content: " ";
  position: absolute;
  top: 0
}

.icon-loading:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s
}

.icon-loading:after {
  left: 1.5em
}

@keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em
  }
}
